<section>
    <body>
        <div id="App State FAQ" class="container-fluid" style="margin-top: 40px">
            <div class="page-header">
                <h2>Colors</h2>
                <table border="1" style="border-collapse:collapse;border:1px;color:#000000;width:65%; text-align: center">
                    <thead style="font-weight: bold">
                        <tr><td>Color</td> <td>Meaning</td> </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.disabledGray}">Gray</td>
                            <td width="80%">Someone has indicated that this application can be ignored. It could be up or down.</td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.allDepsUpYellow}">Yellow</td>
                            <td width="80%">The application is down, but all its dependencies are up.</td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.timeComponentPurple}">Purple</td>
                            <td width="80%">The application is down, and it has some kind of Time component (it starts at a specific time).</td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.errorRed}">Red</td>
                            <td width="80%">The application is down, and one or more of its dependencies are down.</td>
                        </tr>
                        <tr>
                            <td width="20%" >None</td>
                            <td width="80%">Everything is A-OK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    <div>
        <h2>Icons</h2>
        <div class="grid">
            <div class="col-1-2">
                <div class="content">
                    <h4>Up/Down Icons</h4>
                    <p><span class="glyphicon glyphicon-ok-circle btn-lg"/>The application is running</p>
                    <p><span class="glyphicon glyphicon-remove-circle btn-lg"/>The appplication is not running</p>

                    <h4>Miscellaneous</h4>
                    <p><span class="glyphicon glyphicon-off btn-lg"/>Enable (turn on) custom filter</p>
                    <p><span class="glyphicon glyphicon-star btn-lg"/>The row (application) has been selected for batch operation</p>
                    <p><span class="glyphicon glyphicon-star-empty btn-lg"/>The row (application) is not selected for batch operation</p>
                </div>
            </div>
            <div class="col-1-2">
                <div class="content">
                    <h4>Status Icons</h4>
                    <p><span class="glyphicon glyphicon-question-sign btn-lg"/>The status of the agent for this server is unknown</p>
                    <p><span class="glyphicon glyphicon-thumbs-up btn-lg"/>Everything is working as expected</p>
                    <p><span class="glyphicon glyphicon-retweet btn-lg"/>The application is restarting</p>
                    <p><span class="glyphicon glyphicon-arrow-down btn-lg"/>The application is shutting down</p>
                    <p><span class="glyphicon glyphicon-warning-sign btn-lg"/>The previous operation (Stop/Restart) has failed</p>
                    <p><span class="glyphicon glyphicon-exclamation-sign btn-lg"/>The application has crashed</p>
                    <p><span class="glyphicon glyphicon-sort-by-attributes btn-lg"/>The application is in auto mode</p>
                    <p><span class="glyphicon glyphicon-pause btn-lg"/>The application is in manual mode</p>
                    <p><span class="glyphicon glyphicon-eye-open btn-lg"/>The application is in read only mode</p>
                </div>
            </div>
        </div>
    </div>

</section>
