<section>
    <body>
        <div id="App State FAQ" class="container-fluid" style="margin-top: 75px">
            <div>
                <h2>Up/Down Column Colors</h2>
                <table border="1" style="border-collapse:collapse;border:1px;color:#000000;width:65%; text-align: center">
                    <thead style="font-weight: bold">
                        <tr><td>Up/Down Color</td> <td>Meaning</td> </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.disabledGray}">
                                <span data-bind="attr: {class: constants.glyphs.stoppedX}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.grayed"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.allDepsUpYellow}">
                                <span data-bind="attr: {class: constants.glyphs.stoppedX}"></span>
                            </td>
                            <td width="80%">The application is down, but all its dependencies are up.</td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.timeComponentPurple}">
                                <span data-bind="attr: {class: constants.glyphs.stoppedX}"></span>
                            </td>
                            <td width="80%">The application is down, and it has some kind of Time component (it starts at a specific time).</td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.errorRed}">
                                <span data-bind="attr: {class: constants.glyphs.stoppedX}"></span>
                            </td>
                            <td width="80%">The application is down, and one or more of its dependencies are down.</td>
                        </tr>
                        <tr>
                            <td width="20%" >
                                <span data-bind="attr: {class: constants.glyphs.runningCheck}"></span>
                            </td>
                            <td width="80%">Everything is A-OK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>
            <div>
                <h2>Status Column Colors & Icons</h2>
                <table border="1" style="border-collapse:collapse;border:1px;color:#000000;width:65%; text-align: center">
                    <thead style="font-weight: bold">
                        <tr><td>Status</td> <td>Meaning</td> </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.errorRed}">
                                <span data-bind="attr: {class: constants.glyphs.errorWarning}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.error"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.unknownGray}">
                                <span data-bind="attr: {class: constants.glyphs.unknownQMark}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.unknown"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.warnOrange}">
                                <span data-bind="attr: {class: constants.glyphs.notifyExclamation}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.notify"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.configErrPink}">
                                <span data-bind="attr: {class: constants.glyphs.configErr}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.config_error"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.disabledGray}">
                                <span data-bind="attr: {class: constants.glyphs.grayed}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.grayed"></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <span data-bind="attr: {class: constants.glyphs.thumpsUp}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.ok"></td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <span data-bind="attr: {class: constants.glyphs.thumpsUp}"></span>
                                <span data-bind="attr: {class: constants.glyphs.readOnly}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.readOnly"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.warnOrange}">
                                <span data-bind="attr: {class: constants.glyphs.thumpsUp}"></span>
                                <span data-bind="attr: {class: constants.glyphs.modeAuto}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.auto"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.warnOrange}">
                                <span data-bind="attr: {class: constants.glyphs.thumpsUp}"></span>
                                <span data-bind="attr: {class: constants.glyphs.modeManual}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.manual"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.unknownGray}">
                                <span data-bind="attr: {class: constants.glyphs.staggeredClock}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.staggered"></td>
                        </tr>
                        <tr>
                            <td width="20%" data-bind="style : {backgroundColor : constants.colors.unknownGray}">
                                <span data-bind="attr: {class: constants.glyphs.invalidTrash}"></span>
                            </td>
                            <td width="80%" data-bind="text: constants.descriptions.invalid"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2>Miscellaneous Icons</h2>
                <div class="grid">
                    <div class="col-1-2">
                        <div class="content">
                            <p><span class="glyphicon glyphicon-off btn-lg"/>Enable (turn on) custom filter</p>
                            <p><span class="glyphicon glyphicon-star btn-lg"/>The row (application) has been selected for batch operation</p>
                            <p><span class="glyphicon glyphicon-star-empty btn-lg"/>The row (application) is not selected for batch operation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</section>
