<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
             <!--Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Zoom</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav" data-bind="foreach: router.navigationModel()">
                    <li data-bind="visible: !$parent.isFAQ(title), css: { active: isActive }">
                        <a data-bind="attr: { href: hash }, text: title"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Admin -->
                    <li role="presentation" class="dropdown" data-bind="visible: login.elements.authenticated">
                        <a class="dropdown-toggle" href="#" id="adminDropDown" data-toggle="dropdown" role="button">
                            <span>Admin</span>
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a data-bind="click: function() { admin.disable() }, visible: admin.enabled()">Disable Admin</a></li>
                            <li role="presentation"><a data-bind="click: function() { admin.enable() }, visible: !admin.enabled()">Enable Admin</a></li>
                            <li role="presentation"><a data-bind="click: function() { admin.toggleProgress()}, text: !admin.showProgress() ? 'Show Progress' : 'Hide Progress'"></a></li>
                            <li role="presentation"><a data-bind="click: function() { router.navigate('#tools', {trigger: true })}">ZK Tools</a></li>
                            <li role="presentation"><a data-bind="click: function() { admin.clearTasks() }">Clear Tasks</a></li>
                        </ul>
                    </li>
                    <!-- END Admin -->
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" href="#" id="kibana" data-toggle="dropdown" role="button">
                            <span>Kibana</span>
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a data-bind="click: function() { exlink.ProdErrorsURL()}, visible: environment.env().toLowerCase() == environment.envType.prod">Production Errors</a></li>
                            <li role="presentation"><a data-bind="click: function() { exlink.ProdStatsURL()}, visible: environment.env().toLowerCase() == environment.envType.prod">Production Stats</a></li>
                            <li role="presentation"><a data-bind="click: function() { exlink.StagingStatsURL()}, visible: environment.env().toLowerCase() == environment.envType.stg">Staging Stats</a></li>
                        </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" href="#" id="faqDropDown" data-toggle="dropdown">
                            <span>FAQ</span>
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="faqDropDown" >
                            <!-- 3 maps to appFAQ in the router -->
                            <li role="presentation" data-bind="with: router.navigationModel()[3]">
                                <a data-bind="attr: { href: hash }, text: title"></a>
                            </li>
                            <li role="presentation">
                                <a data-bind="click: function() { exlink.apiDoc()} ">API Documentation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="loginDropDown" data-toggle="dropdown">
                            <span data-bind="text: login.advertise()"/>
                            <strong class="caret"></strong>
                        </a>
                        <div class="dropdown-menu navbar-drop-login" style="padding: 15px; padding-bottom: 0px;" aria-labelledby="loginDropDown">
                            <!-- Login form here -->
                            <form role="form" class="form-horizontal"
                                style="text-align: center"
                                data-bind="visible: !login.elements.authenticated()">
                                <div class="input-group" style="margin-bottom: 15px" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input id="username"
                                        data-bind="value: login.elements.username"
                                        style="width: 200px"
                                        type="text"
                                        placeholder="username"
                                        class="form-control">
                                </div>
                                <div class="input-group" style="margin-bottom: 15px">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="password"
                                        data-bind="value: login.elements.password"
                                        style="width: 200px"
                                        type="password"
                                        placeholder="password"
                                        class="form-control" rel="popover" data-placement="left">

                                </div>
                                <div style="padding: 5px 5px 5px 5px">
                                            <button data-bind="click: function(){login.submit()}"
                                                    style="width: 50%; margin: 0 auto"
                                                    type="submit"
                                                    class="btn btn-primary">
                                            <i class="icon-user icon-white"></i>
                                            Login
                                            </button>
                                </div>
                            </form>
                            <div data-bind="visible: login.elements.authenticated" style="padding: 5px 5px 5px 5px;">                
                                    <button data-bind="click: function() { login.reset() }"
                                            style="width: 100%"
                                            class="btn btn-primary"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Logout">
                                            Logout
                                    </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    
        <div class="envbanner" data-bind="text: environment.env, style: {backgroundColor: environment.envColor,
            color: environment.envTextColor}">
        </div>

        </nav>

    <div class="page-host" data-bind="router: { transition:'entrance' }"></div>
</div>
