<section>
    <div class="container" data-bind="with: pillarModel">
        <div class="page-header" style="margin-top: 85px">
            <h1> Pillar Value Editor </h1>
            <div class="btn-group" data-bind="foreach: pillarOptions">
                <button class="btn btn-default" data-bind="radio: $parent.selectedOption">
                    <span data-bind="text: $data"></span>
                </button>
            </div>
            <button class="btn btn-default" data-bind="click: function() { toggleSearch()}">
                <span class="glyphicon glyphicon-align-justify"></span> 
            </button>

        </div>

        <div class="row">
            <!--sidebar-->
            <div id="searchPane" class="col-md-4 hidden-desktop" data-bind="visible: selectedOption() != 'Create Pillar'">
                
                <div class="input-group">
                    <input type="text" id="searchBox" class="form-control" data-bind="value: searchVal, text: searchVal, valueUpdate:'afterkeydown'" placeholder="Server name..." autofocus=""></input> 
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-bind="click: function() {removeQuery()}" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <!--
                        <button class="btn btn-default" data-bind="click: function() {performAll('true')}" type="button">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                        -->
                        <button class="btn btn-default" data-bind="click: function() {uncheckAll()}" type="button">
                            <span class="glyphicon glyphicon-unchecked"></span>
                        </button>

                    </span>
                </div>

                <div class="checkbox-list">
                    <div data-bind="foreach: show_allInfo"> 
                        <div> 
                            <input type="checkbox" data-bind="value: name, checked: checked">
                            <span data-bind="text: name"></span>
                            <!--<span data-bind="text: ko.toJSON(pillar, null, 2)"></span>-->
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="mainPane" class="col-md-6"> 
                <div data-bind="visible: checked_servers().length > 0 && selectedOption() == 'Delete Pillar(s)'">
                    <span> Selected servers: </span>
                    <div data-bind="foreach: checked_servers">
                        <table>
                            <td data-bind="text: name"></td>
                        </table>
                    </div>
                </div>

                

                
                <div data-bind="visible: selectedOption() == 'Create Pillar'">
                    <h4> Enter a unique hostname. Domain will be added to create the FQDN. </h4>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="hostname" data-bind="textInput: fieldOneVal"></input> 
                    </div>
                    <span> .spottrading.com </span>
                    <button data-bind="click:  function() { api_post('pillar', fieldOneVal())}, visible: fieldOneVal()">Create</button>
                </div>

                <div data-bind="visible: selectedOption() == 'Delete Pillar(s)'">
                    <button type="button" class="btn btn-danger" data-bind="click: function() { api_delete('pillar') }">Delete</button>
                </div>


                <div data-bind="visible: checked_servers().length > 0 && selectedOption() == 'Modify Pillar(s)'">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2 dropdown text-left">
                                <button class="btn btn-default dropdown-toggle" type="button" id="allProjDropdown" data-toggle="dropdown" aria-expanded="true"> 
                                Select a project
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="allProjDropdown" data-bind="foreach: allProjects()">
                                    <li role="presentation" id="allDrop"><a role="menuitem" tabindex="-1" data-bind="text: $data"></a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 text-right">
                                <button type="button" class="btn btn-danger" data-bind="click: function () { api_delete('project') }, text: 'Delete '+selectedProject() + ' from selected servers', visible: selectedProject() != '' ">Delete this project</button>
                            </div>
                        </div>
                    </div>
                    <table>
                        <caption data-bind="visible: selectedProject() != '', text: selectedProject()"></caption>
                        <thead>
                        <tr>
                            <td>Server</td>
                            <td>Subtype</td>
                            <td>Version</td>
                        </tr>
                        </thead>

                        <tbody data-bind="foreach: checked_servers()">
                        <tr> 
                            <td data-bind="text: name"></td>
                            <td data-bind="text: $parent.subtype_get($data, 'subtype')"></td>
                            <td data-bind="text: $parent.subtype_get($data, 'version')"></td> 
                            <!-- Direct access, but can't handle errors if data not there -->
                            <!-- <td data-bind="text: $data[$parent.selectedProject()]().version"></td>-->
                        </tr>
                        </tbody>

                    </table>


                    <div>
                        <h3>Create project <small> Create a project without adding data </small> <h3/>
                        <input data-bind="textInput: new_project"></input>
                        <button data-bind="click: createProjectWrapper(new_project())">Create</button>
                    </div>


                    <div>
                        <span>Update subtype data:</span>
                        <input data-bind="textInput: new_subtype"></input>
                        <button data-bind="click: api_put('subtype', new_subtype())">Push new subtype</button>
                    </div>

                    <div>
                        <span>Update version data:</span>
                        <input data-bind="textInput: new_version"></input>
                        <button data-bind="click: api_put('version', new_version())">Push new version</button>
                    </div>

                </div>

                <div data-bind="visible: selectedProject() == 'View Pillar(s)', foreach: checked_servers()" id="showJSON">
                    <button>
                        blah
                    </button>
                    <textarea data-bind="value: ko.toJSON(pillar, null, 2)"></textarea>
                </div>
            </div>
        <!-- end main pane-->
        </div>
  
    </div>
</section>
