<section>
    <div id="loadVisual" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Refreshing pillars on salt master... </h4>
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
   <div id="validateVisual" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Validating changes on salt master... </h4>
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="addModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Create Mapping </h4>
                    <h4 class="modal-dialog"> Create a targetable mapping for a specific host.</h4>

                </div>
                <div class="modal-body">
                    <h4> Enter a unique hostname. Domain will be added to create the FQDN. </h4>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="hostname" data-bind="textInput: pillarModel.newNodeName">
                    </div>
                    <span> .spottrading.com </span>
                    <button class="btn btn-default"
                            data-bind="click:  function() { pillarModel.saltModel.validate(pillarModel.newNodeName(), null, 'preCreate',
                            'node', null) }, visible: pillarModel.newNodeName()">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="groupEditModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Multiple Servers</h3>
                </div>
                <div class="modal-body" data-bind="with: pillarModel">
                    <!-- Main div for each project!!! -->
                    <div id="eachProject" data-bind="foreach: selectedProjects()">

                        <h2 data-bind="text: $data.proj_name"></h2>
                        <div data-bind="visible: $data.editing">
                            <button type="button" class="btn btn-danger"
                                    data-bind="click: function () { $parent.updateProjectWrapper('delete', 'project', $data) },
                                     text: 'Delete Project ' + $data.proj_name" ></button>
                        </div>

                        <table class="table table-striped table-bordered" id="mainTable" style="margin-bottom: 20px; margin-top: 20px; cursor: pointer;"
                            data-bind="visible: !$data.editing(), click: function () {$parent.showEdit($data)}">
                            <caption> Click to edit </caption>
                            <thead>
                            <tr>
                                <th>Server</th>
                                <!-- ko foreach: $data.keys() -->
                                <th data-bind="text: $data"></th>
                                <!-- /ko -->
                            </tr>
                            </thead>

                            <tbody data-bind="foreach: hasProject()">
                            <tr>
                                <td data-bind="text: name"></td>
                                <!-- ko foreach: $parent.keys() -->
                                <td data-bind="text: $parents[2].getValues($parent, $parents[1], $data)"></td>
                                <!-- /ko -->
                            </tr>
                            </tbody>

                        </table>

                        <table class="table table-striped table-bordered edit" id="editTable"
                               data-bind="visible: $data.editing" style="margin-bottom: 20px; margin-top: 20px;">
                            <thead>
                            <tr>
                                <th>Server</th>
                                <!-- ko foreach: $data.edit_keys() -->
                                <th>
                                    <span data-bind="text: $data"></span>
                                    <button
                                            data-bind="click: function () { $parents[1].visualUpdate('delete', 'key', $parent,  $data) }">
                                        Delete
                                    </button>
                                </th>
                                <!-- /ko -->
                                <td>
                                    <div data-bind="visible: $data.editing">
                                        <input type="text" placeholder="New Key Name" data-bind="textInput: new_key">
                                        <button
                                                data-bind="click: function () { $parent.visualUpdate('create', 'key', $data) }">
                                            Add Key</button>
                                    </div>
                                </td>
                            </tr>
                            </thead>

                            <tbody data-bind="foreach: hasProject()">
                            <tr>
                                <td data-bind="text: name"></td>

                                <!-- ko foreach: $parent.edit_keys() -->
                                <td>
                                    <input data-bind="value: $parents[2].getValues($parent, $parents[1], $data), updateEdit: $parent.editable"
                                        style="width: 100%;">
                                </td>
                                <!-- /ko -->
                            </tr>
                            </tbody>
                        </table>

                        <div class="container" data-bind="visible: $data.editing">
                            <button data-bind="click: function() {$parent.updateProjectWrapper('update', 'wholeTable', $data)}">
                                Send updated table data
                            </button>
                            <button data-bind="click: function() { $parent.cancelEditing($data, true) }">Cancel Editing</button>
                        </div>
                    </div>
                    <!-- end of existing project tab-->
                </div>
            </div>
        </div>
    </div>
    <div id="groupExistingModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Multiple Servers</h3>
                </div>
                <div class="modal-body" data-bind="with: pillarModel">
                    <h3> Add project <small> For ALL selected servers. Blank values will be null </small> </h3>
                    <span> Select an existing project: </span>
                    <select data-bind="options: allProjects, optionsText: function(item) { return item.proj_name }, value: selectedProject"></select>
                    <!-- ko foreach: new_pairs() -->
                    <div class="row">
                        <input type="text" placeholder="Key" data-bind="textInput: key">
                        <input type="text" placeholder="JSON-formatted Value" data-bind="textInput: value">
                    </div>
                    <!-- /ko-->
                    <button class="btn btn-default" data-bind="click: function() {addPair()}">Add another key-value pair</button>
                    <button class="btn btn-default" data-bind="click: function() {removePair()}">Remove a key-value pair</button>
                    <button class="btn btn-default" data-bind="click: function() {projectWrapper(selectedProject().proj_name, false, 'groupExistingModal')}">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="groupNewModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Edit Multiple Servers</h3>
                </div>
                <div class="modal-body" data-bind="with: pillarModel">
                     <div>
                        <h3>Create project <small> For ALL selected servers. Blank values will be null </small> </h3>
                        <span> Project name: </span>
                        <input type="text" placeholder="Project Name" data-bind="textInput: new_project">
                        <!-- ko foreach: new_pairs() -->
                        <div class="row">
                            <input type="text" placeholder="Key" data-bind="textInput: key">
                            <input type="text" placeholder="JSON-formatted Value" data-bind="textInput: value">
                        </div>
                        <!-- /ko-->
                        <button class="btn btn-default" data-bind="click: function() {addPair()}">Add another key-value pair</button>
                        <button class="btn btn-default" data-bind="click: function() {removePair()}">Remove a key-value pair</button>
                        <button class="btn btn-default" data-bind="click: function() {projectWrapper(new_project(), false, 'groupNewModal')}">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="existingModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" data-bind="with: pillarModel">
                    <span> Select an existing project: </span>
                    <select data-bind="options: allProjects, optionsText: function(item) { return item.proj_name }, value: selectedProject"></select>
                    <!-- ko foreach: new_pairs() -->
                    <div class="row">
                        <input type="text" placeholder="Key" data-bind="textInput: key">
                        <input type="text" placeholder="JSON-formatted Value" data-bind="textInput: value">
                    </div>
                    <!-- /ko-->
                    <button class="btn btn-default" data-bind="click: function() {addPair()}">Add another key-value pair</button>
                    <button class="btn btn-default" data-bind="click: function() {removePair()}">Remove a key-value pair</button>
                    <button class="btn btn-default" data-bind="click: function() {projectWrapper(selectedProject().proj_name, true, 'existingModal')}">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div id="newModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body" data-bind="with: pillarModel">
                     <div>
                        <span> Project name: </span>
                        <input type="text" placeholder="Project Name" data-bind="textInput: new_project">
                        <!-- ko foreach: new_pairs() -->
                        <div class="row">
                            <input type="text" placeholder="Key" data-bind="textInput: key">
                            <input type="text" placeholder="JSON-formatted Value" data-bind="textInput: value">
                        </div>
                        <!-- /ko-->
                        <button class="btn btn-default" data-bind="click: function() {addPair()}">Add another key-value pair</button>
                        <button class="btn btn-default" data-bind="click: function() {removePair()}">Remove a key-value pair</button>
                        <button class="btn btn-default" data-bind="click: function() {projectWrapper(new_project(), true, 'newModal')}">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div data-bind="visible: pillarModel.login.elements.authenticated() == false">
        <h3 style="margin-top: 85px"> Please log-in to use the pillar editor </h3>
    </div>

    <div class="container-fluid" data-bind="with: pillarModel, visible: pillarModel.login.elements.authenticated() == true">
        <div class="page-header" style="margin-top: 85px">
            <h1> Pillar Value Editor<small> v0.3 </small></h1>

            <div class="row view-tabs">
                <div class="col-md-6 text-left">
                    <button class="btn btn-default" data-bind="click: function() { showModal('addModal') }" type="button" title="Add Host to Map project to">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Server for Mapping
                    </button>
                </div>
                <div class="col-md-6 text-right"  >
                    <div class="pull-right">
                         <button class="btn btn-default" data-bind="click: function() { showModal('groupEditModal') }, disable: pillarModel.checkedNodes().length == 0" data-placement="top" type="button" title="Group Edit Server Data">
                            <span class="glyphicon glyphicon-edit"></span>
                            Group Edit
                         </button>
                        <button class="btn btn-default" data-bind="click: function() { showModal('groupExistingModal') }, disable: pillarModel.checkedNodes().length == 0" data-placement="top" type="button" title="Group Edit Server Data">
                            <span class="glyphicon glyphicon-edit"></span>
                            Group Add Existing
                        </button>
                        <button class="btn btn-default" data-bind="click: function() { showModal('groupNewModal') }, disable: pillarModel.checkedNodes().length == 0" data-placement="top" type="button" title="Group Edit Server Data">
                            <span class="glyphicon glyphicon-edit"></span>
                            Group Add New
                        </button>


                    </div>
                </div>
            </div>


        </div>


        <div class="page-body">
            <!--sidebar-->
            <div class="row">
            <div id="searchPane" class="col-md-6 text-left" data-bind="visible: selectedOption() != 'Create Pillar'">

                <div class="input-group" style="margin-bottom: 20px;">
                    <input style="min-width: 200px;" type="text"  id="searchBox" class="form-control" data-bind="value: searchVal, text: searchVal,
                     valueUpdate:'afterkeydown'" placeholder="Server or project name..." autofocus="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-bind="click: function() {removeQuery()}" type="button"
                                title="Clear search">
                            <span class="glyphicon glyphicon-remove"></span>
                            Clear Query
                        </button>
                        <button class="btn btn-default" data-bind="click: function() {checkAll()}" type="button"
                                title="Select all visible servers, with a maximum of 8 at a time">
                            <span class="glyphicon glyphicon-check"></span>
                            Check All
                        </button>
                        <button class="btn btn-default" data-bind="click: function() {uncheckAll()}" type="button"
                                title="Unselect ALL selected servers, not just visible ones">
                            <span class="glyphicon glyphicon-unchecked"></span>
                            Uncheck All
                            <span class="badge" data-bind="text: checkedNodes().length"></span>
                        </button>

                    </span>
                </div>

            </div>
                </div>

            <div class="checkbox-list">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Host Name (Click to View and Edit Projects)
                            </th>
                            <th>
                                Projects/Services/Applications
                            </th>
                            <th>
                                Select
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: queriedNodes">
                        <tr>
                            <td data-bind="text: name, click: function() { $parent.toggleEdit($data, false) }">

                            </td>
                            <td data-bind="text: $parent.projectList($data)"></td>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-default" type="button" data-bind="click: function() { $parent.handleSelect($data) }">
                                        <span data-bind="attr: { class: star }"></span>
                                    </button>
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown" data-toggle="tooltip" data-placement="top">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li role="presentation">
                                            <a data-bind="click: function() { $parent.handleAction($data, 'existing') }" data-toggle="tooltip"
                                                    data-placement="top">
                                                Add Existing
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a data-bind="click: function() { $parent.handleAction($data, 'new') }" data-toggle="tooltip"
                                                    data-placement="top">
                                                Add New
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            </tr>
                                <!-- Main div for each project!!! -->
                            <tr data-bind="visible: projArray().length > 0">
                            <td colspan="3">
                    <div id="eachProject" data-bind="foreach: projArray">

                                <div data-bind="visible: $index() == 0 && $data.editing()">
                                    <button data-bind="click: function() {$parents[1].updateProjectWrapper('update', 'wholeTable', $data)}">
                                        Send updated table data
                                    </button>
                                    <button data-bind="click: function() { $parents[1].cancelEditing($parent) }">Cancel Editing</button>
                                </div>


                        <table class="table table-striped table-bordered" id="mainTable" style="margin-bottom: 20px; cursor: pointer;"
                            data-bind="visible: !$data.editing(), click: function () {$parents[1].showEditInline($parent)}">
                            <thead>
                            <tr>
                                <th class="col-sm-1">Project</th>
                                <!-- ko foreach: $data.keys() -->
                                <th class="col-sm-1" data-bind="text: $data"></th>
                                <!-- /ko -->
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="col-sm-1" data-bind="text: proj_name"></td>
                                <!-- ko foreach: keys -->
                                <td class="col-sm-1" data-bind="text: $parents[2].getValues($parents[1], $parent, $data)"></td>
                                <!-- /ko -->
                            </tr>
                            </tbody>

                        </table>

                        <table class="table table-striped table-bordered edit" id="editTable"
                               data-bind="visible: $data.editing" style="margin-bottom: 20px; ">
                            <thead>
                            <tr>
                                <th class="col-sm-1">Project</th>
                                <!-- ko foreach: $data.edit_keys() -->
                                <th class="col-sm-1">
                                    <span data-bind="text: $data"></span>
                                    <button
                                            data-bind="click: function () { $parents[2].visualUpdate('delete', 'key', $parent,  $data) }">
                                        Delete
                                    </button>
                                </th>
                                <!-- /ko -->
                                <td class="col-sm-1">
                                    <div data-bind="visible: $data.editing">
                                        <input type="text" placeholder="New Key Name" data-bind="textInput: new_key">
                                        <button
                                                data-bind="click: function () { $parents[1].visualUpdate('create', 'key', $data) }">
                                            Add Key</button>
                                    </div>
                                </td>
                                <td class="col-sm-1">
                                    <div data-bind="visible: $data.editing">
                                    <button type="button" class="btn btn-danger"
                                        data-bind="click: function () { $parents[1].updateProjectWrapper('delete', 'project', $data) },
                                         text: 'Delete Project ' + $data.proj_name" ></button>
                                </div>
                                </td>
                            </tr>
                            </thead>

                            <tbody data-bind="with: $parent">
                            <tr>
                                <td class="col-sm-1" data-bind="text: $parent.proj_name"></td>

                                <!-- ko foreach: $parent.edit_keys() -->
                                <td class="col-sm-1">
                                    <input data-bind="value: $parents[3].getValues($parent, $parents[1], $data), updateEdit: $parent.editable"
                                        style="width: 100%;">
                                </td>
                                <!-- /ko -->
                            </tr>
                            </tbody>
                        </table>


                    </div>
                    <!-- end of existing project tab-->
                            <!--
                            <span data-bind="template: {name: 'individual-host-template'}"></span>
                            -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div id="mainPane" class="col-md-8"> 
                <div data-bind="visible: checkedNodes().length > 0 && selectedOption() == 'Delete Pillar(s)'">
                    <span> Selected servers: </span>
                    <div data-bind="foreach: checkedNodes">
                        <table>
                            <tr data-bind="text: name"></tr>
                        </table>
                    </div>
                    <button type="button" class="btn btn-danger"
                            data-bind="click: function() { pillarApiModel.delPillar() }">Delete</button>
                </div>
            </div>
        <!-- end main pane-->
        </div>
  
    </div>
</section>
