<section xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="page-header" style="margin-top: 85px">
            <h1>Server Configuration Agent</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text"
                               id="searchBox"
                               class="form-control"
                               data-bind="value: serverName, text: serverName, event: { keypress: keyPressed}, valueUpdate:'afterkeydown'"
                               placeholder="Server name..."
                               autofocus/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" data-bind="click: clearPage">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-bind="click: search">
                                    Search
                            </button>
                            <button type="button" class="btn btn-default" data-bind="click: add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- alerts for displaying callback success/error messages -->
        <div data-bind="with: alertsViewModel">
            <div class="alert alert-success" data-bind="visible: successMode">
                <strong><span data-bind="text: successText"></span></strong>
            </div>
            <div class="alert alert-danger" data-bind="visible: errorMode">
                <strong><span data-bind="text: errorText"></span></strong>
            </div>
        </div>

        <!-- panel for searching and editing server configurations -->
        <div class="panel panel-default"
             data-bind="with: searchUpdateViewModel, visible: searchUpdateViewModel.visible">
            <div class="panel-heading">
                <h3><span data-bind="text: $root.serverName"></span></h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" data-bind="click: validateXML">Push Configuration</button>
                    <button type="button" class="btn btn-danger" data-bind="click: deleteConfig">Delete Configuration</button>
                    <button type="button" class="btn btn-default" data-bind="click: setDefault">Default Configuration</button>
                    <button type="button" class="btn btn-primary" data-bind="click: treeViewModel.addComponent"style="margin-bottom:15px">Add Component</button>
                </div>
            </div>
            <div class="panel-body">
                <div data-bind="with: treeViewModel, event: {mouseout: treeViewModel.createXML, click: closeAlerts}">
                    <div data-bind="template: {name: 'component-template', foreach: components}">
                    </div>
                </div>
                <h4>XML:</h4>
                <pre data-bind="text: serverConfig, value: serverConfig, event: {mouseout: editedConfig, click: closeAlerts}"
                     name="server-config" id="server-config" contenteditable="true"></pre>
            </div>
        </div>

    </div>

    <!-- templates for adding server configurations -->
    <!-- Component -->
    <script type="text/html" id="component-template">
        <div class="panel panel-default success">
            <div class="panel-heading">
                <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="btn-group">
                    <a class="btn btn-default disabled" role="button">
                        Component <span data-bind="text: ID"></span>
                    </a>
                    <button type="button"  class="btn btn-default"
                            data-bind="click: function(){expanded(!expanded())}, text: expanded() ? 'Collapse' : 'Expand'"></button>
                    <button type="button" class="btn btn-default"
                            data-bind="click: function(){toggleExpanded()}, text: expanded() ? 'Collapse All' : 'Expand All'"></button>
                    <button type="button" class="btn btn-primary" data-bind="click: addAction">Add Action</button>
                </div>
                <span class="label label-danger" data-bind="text: error"/>
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="id" data-toggle="dropdown"
                               data-bind="value: ID, text: ID"
                               data-toggle="tooltip" data-placement="top" title="id - Must be Unique!">
                        <span class="dropdown">
                            <input type="text" class="form-control" required placeholder="type" data-toggle="dropdown"
                                   data-bind="value: compType, text: compType"
                                   data-toggle="tooltip" data-placement="top" title="type">
                                <ul class="dropdown-menu" role="menu" >
                                    <li><a href="#" data-bind="click: function(){compType('application')}">application</a></li>
                                    <li><a href="#" data-bind="click: function(){compType('job')}">job</a></li>
                                </ul>
                        </span>
                        <!-- TODO: figure out how to dynamically set required in the below field -->
                        <input type="text" class="form-control" placeholder="script" data-bind="value: script, text: script"
                               data-toggle="tooltip" data-placement="top" title="script - Either the script name in /etc/init.d/ (not the full path) or the Windows Service name.">
                        <input type="text" class="form-control" placeholder="command" data-bind="value: command, text: command"
                               data-toggle="tooltip" data-placement="top"
                               title="command - Special command to run on the command line to start an application/job.">
                        <input type="number" class="form-control" placeholder="restartmax" data-bind="value: restartmax, text: restartmax"
                               data-toggle="tooltip" data-placement="top"
                               title="restartmax - How many times to try to start an application/job if it fails to start.">
                        <input type="text" class="form-control dropdown-toggle" placeholder="registrationpath"
                               data-bind="value: registrationpath, text: registrationpath"
                               data-toggle="tooltip" data-placement="top"
                               title="registrationpath - Path in ZooKeeper used to register a service.">
                        <!-- TODO: figure out how to display PDService title wihtout hovering over XML -->
                        <span class="dropdown">
                            <input type="text" class="form-control" placeholder="pagerduty api key" data-toggle="dropdown"
                                   data-bind="value: pagerdutyService, text: pagerdutyService, tooltip: pdServiceName">
                                <ul class="dropdown-menu" role="menu" data-bind="foreach: Object.keys(TreeViewModel.pagerDutyServices).sort()">
                                    <li><a data-bind="text: $data, click: function(){$parent.setPDService($data)}"></a></li>
                                </ul>
                        </span>
                    </div>
                </form>
                <br />
                <div data-bind="template: {name: 'action-template', foreach: actions}"></div>
            </div>
        </div>
    </script>
    <!-- END Component -->

    <!-- Action -->
    <script type="text/html" id="action-template">
        <div class="panel panel-default" data-bind="visible: actionVisible">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="id" data-bind="value: ID, text: ID">
                        <input type="text" class="form-control" placeholder="function (For custom IDs)" data-bind="value: func, text: func">
                        <input type="text" class="form-control" placeholder="staggerpath"
                               data-bind="value: staggerpath, text: staggerpath" data-toggle="tooltip"
                               data-placement="top" title="staggertime">
                        <input type="text" class="form-control" placeholder="staggertime"
                               data-bind="value: staggertime, text: staggertime"
                               data-toggle="tooltip" data-placement="top" title="staggertime">
                        <span class="dropdown">
                            <input type="text" class="form-control" placeholder="disabled"
                                   data-toggle="dropdown" data-bind="value: disabled, text: disabled"
                                   data-toggle="tooltip" data-placement="top" title="disabled">
                                <ul class="dropdown-menu" role="menu" >
                                    <li><a href="#" data-bind="click: function(){disabled('True')}">True</a></li>
                                    <li><a href="#" data-bind="click: function(){disabled('False')}">False</a></li>
                                </ul>
                        </span>
                        <span class="dropdown">
                            <input type="text" class="form-control" placeholder="pagerduty enabled"
                                   data-toggle="dropdown" data-bind="value: pdEnabled, text: pdEnabled"
                                   data-toggle="tooltip" data-placement="top" title="pagerduty enabled">
                                <ul class="dropdown-menu" role="menu" >
                                    <li><a href="#" data-bind="click: function(){pdEnabled('True')}">True</a></li>
                                    <li><a href="#" data-bind="click: function(){pdEnabled('False')}">False</a></li>
                                </ul>
                        </span>
                    </div>
                </form>
                <br />
                <div data-bind="template: {name: 'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>
    <!-- END Action -->

    <!-- Add Predicate -->
    <script type="text/html" id="add-predicate-template">
        <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="btn-group">
            <a class="btn btn-default disabled" role="button" data-bind="text: title">
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Add Predicate
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-bind="click: function(){addPredicate('')}">Single</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('not')}">NOT</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('and')}">AND</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('or')}">OR</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-default"
                data-bind="click: function(){expanded(!expanded())}, text: expanded() ? 'Collapse' : 'Expand'"></button>
        <button type="button" class="btn btn-default"
                data-bind="click: function(){toggleExpanded()}, text: expanded() ? 'Collapse All' : 'Expand All'"></button>
        <span class="label label-danger" data-bind="text: error"/>

    </script>
    <!-- END Add Predicate -->

    <!-- Predicate -->
    <script type="text/html" id="predicate-template">
        <!-- ko if: isLogicalPred -->
        <div data-bind="template: {name:'logic-predicate-template'}"></div>
        <!-- /ko -->

        <!-- ko if: !isLogicalPred -->
        <div data-bind="template: {name:'single-predicate-template'}"></div>
        <!-- /ko -->
    </script>
    <!-- END Predicate -->

    <!-- Single Predicate -->
    <script type="text/html" id="single-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <a class="btn btn-default disabled" role="button" data-bind="text: title">
                </a>
                <button type="button" class="btn btn-default"
                        data-bind="click: function(){expanded(!expanded())}, text: expanded() ? 'Collapse' : 'Expand'"></button>
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <!-- required attributes so that menu falls is directly under -->
                        <span class="dropdown">
                            <input type="text" class="form-control" required placeholder="type" data-toggle="dropdown"
                                   data-bind="value: predType, text: predType"
                                   data-toggle="tooltip" data-placement="top" title="type">
                                <ul class="dropdown-menu" role="menu" >
                                    <li><a href="#" data-bind="click: function(){setType('ZooKeeperHasChildren')}">ZooKeeperHasChildren</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('ZooKeeperHasGrandChildren')}">ZooKeeperHasGrandChildren</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('ZooKeeperNodeExists')}">ZooKeeperNodeExists</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('ZookeeperGoodUntilTime')}">ZookeeperGoodUntilTime</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('Weekend')}">Weekend</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('Holiday')}">Holiday</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('Time')}">Time</a></li>
                                    <li><a href="#" data-bind="click: function(){setType('Process'); interval(5)}">Process</a></li>
                                </ul>
                        </span>
                        <input type="number" class="form-control" placeholder="interval"
                               data-bind="text: interval, value: interval, visible: intervalVisible"
                               data-toggle="tooltip" data-placement="top" title="interval">
                        <input type="text" class="form-control" placeholder="command"
                               data-bind="text: command, value: command, visible: commandVisible"
                               data-toggle="tooltip" data-placement="top" title="command">
                        <input type="text" class="form-control" placeholder="start"
                               data-bind="text: start, value: start, visible: startStopVisible"
                               data-toggle="tooltip" data-placement="top" title="start">
                        <input type="text" class="form-control" placeholder="stop"
                               data-bind="text: stop, value: stop, visible: startStopVisible"
                               data-toggle="tooltip" data-placement="top" title="stop">
                        <input type="text" class="form-control" placeholder="weekdays e.g., 0,1,3-5"
                               data-bind="text: weekdays, value: weekdays, visible: startStopVisible"
                               data-toggle="tooltip" data-placement="top" title="weekdays">
                        <!-- required attributes -->
                        <span class="dropdown">
                            <input type="text" class="form-control" required placeholder="path" data-toggle="dropdown"
                                   data-bind="text: path, value: path, visible: pathVisible"
                                   data-toggle="tooltip" data-placement="top" title="path">
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: pathOptions()">
                                <li><a data-bind="text: $data, click: function(){ $parent.path($data) }"></a></li>
                            </ul>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </script>
    <!-- END Single Predicate -->

    <!-- Logic Predicate -->
    <script type="text/html" id="logic-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <div data-bind="template: {name:'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>
    <!-- END Logic Predicate -->

</section>
