<section>
    <div class="container-fluid">
        <div class="page-header" style="margin-top: 65px">
            <h1>Server Configuration Agent</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <!-- populate dropdown menu using knockout observable array -->
                            <ul class="dropdown-menu" role="menu" data-bind="foreach: serverList">
                                <li><a data-bind="text: $data, click: function(){ $parent.serverSelected($data) }"></a></li>
                            </ul>
                        </div>
                        <input type="text"
                               id="searchBox"
                               class="form-control"
                               data-bind="value: serverName, text: serverName, event: { keypress: keyPressed}, valueUpdate:'afterkeydown'"
                               placeholder="Server name..."
                               autofocus/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" data-bind="click: clearPage">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <button type="button" class="btn btn-default" data-bind="click: search">
                                    Search
                            </button>
                            <button type="button" class="btn btn-default" data-bind="click: add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- alerts for displaying callback success/error messages -->
        <div data-bind="with: alertsViewModel">
            <div class="alert alert-success" data-bind="visible: successMode">
                <strong><span data-bind="text: successText"></span></strong>
            </div>
            <div class="alert alert-danger" data-bind="visible: errorMode">
                <strong><span data-bind="text: errorText"></span></strong>
            </div>
        </div>

        <!-- panel for searching and editing server configurations -->
        <div class="panel panel-default"
             data-bind="with: searchUpdateViewModel, visible: searchUpdateViewModel.visible">
            <div class="panel-heading">
                <h3><span data-bind="text: $root.serverName"></span> <small>click XML to edit</small></h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-success" data-bind="click: validateXML">Push Configuration</button>
                    <button type="button" class="btn btn-danger" data-bind="click: deleteConfig">Delete Configuration</button>
                </div>
            </div>
            <div class="panel-body">
                <pre data-bind="text: serverConfig, value: serverConfig, event: {mouseout: editedConfig, click: closeAlerts}"
                     name="server-config" id="server-config" contenteditable="true"></pre>
            </div>
        </div>

        <!-- panel for adding new configurations -->
        <div class="panel panel-default" data-bind="with: addViewModel, visible: addViewModel.visible">
            <div class="panel-heading">
                <h3>
                    <span data-bind="text: $root.serverName"></span>
                    <small> setup <span data-bind="text: $root.serverName"></span>'s XML configuration</small>
                </h3>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: addComponent">Add Component</button>
                    <button type="button" class="btn btn-success" data-bind="click: createXML">Generate XML</button>
                    <button type="button" class="btn btn-success" data-bind="click: pushConfig">Push Configuration</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div data-bind="template: {name: 'component-template', foreach: serverComponents}">
                    </div>
                </div>
            </div>
            <pre data-bind="text: serverXML, value: serverXML, visible: showXML"></pre>
        </div>
        <div class="panel panel-default" data-bind="with: treeViewModel, visible: treeViewModel.visible">
            <div class="panel-heading">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="click: addComponent">Add Component</button>
                    <button type="button" class="btn btn-success" data-bind="click: createXML">Generate XML</button>
                    <button type="button" class="btn btn-default" data-bind="click: loadXML">Load XML</button>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div data-bind="template: {name: 'component-template', foreach: components}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- templates for adding server configurations -->
    <script type="text/html" id="component-template">
        <div class="panel panel-default success">
            <div class="panel-heading">
                <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="btn-group">
                    <a class="btn btn-default disabled" role="button">
                        Component <span data-bind="text: ID"></span>;
                    </a>
                    <button type="button" 
                            class="btn btn-default" 
                            data-bind="click: function(){expanded(!expanded())}, 
                                        text: expanded() ? 'Collapse' : 'Expand'"></button>
                    <button type="button" class="btn btn-primary" data-bind="click: addAction">Add Action</button>
                </div>
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <!-- required attributes -->
                        <input type="text" class="form-control" required placeholder="id" data-bind="value: ID, text: ID">
                        <input type="text" class="form-control" required placeholder="type" data-bind="value: compType, text: compType">
                        <input type="text" class="form-control" required placeholder="script" data-bind="value: script, text: script">
                        <input type="text" class="form-control" placeholder="command" data-bind="value: command, text: command">
                        <input type="number" class="form-control" placeholder="restartmax" data-bind="value: restartmax, text: restartmax">
                        <input type="text" class="form-control" placeholder="registrationpath" data-bind="value: registrationpath, text: registrationpath">
                    </div>
                </form>
                <br />
                <div data-bind="template: {name: 'action-template', foreach: actions}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="action-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="id" data-bind="value: ID, text: ID">
                        <input type="text" class="form-control" placeholder="staggerpath" data-bind="value: staggerpath, text: staggerpath">
                        <input type="text" class="form-control" placeholder="staggertime" data-bind="value: staggertime, text: staggertime">
                        <input type="number" class="form-control" placeholder="allowed_instances" data-bind="value: allowedinstances, text: allowedinstances">
                    </div>
                </form>
                <br />
                <div data-bind="template: {name: 'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>


    <script type="text/html" id="add-predicate-template">
        <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="btn-group">
            <a class="btn btn-default disabled" role="button" data-bind="text: title">
            </a>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Add Predicate
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-bind="click: function(){addPredicate('')}">Simple</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('not')}">NOT</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('and')}">AND</a></li>
                <li><a href="#" data-bind="click: function(){addPredicate('or')}">OR</a></li>
            </ul>
        </div>
        <button type="button" 
            class="btn btn-default" 
            data-bind="click: function(){expanded(!expanded())}, 
                        text: expanded() ? 'Collapse' : 'Expand'"></button>
        <span class="label label-danger" data-bind="text: error"/>

    </script>

    <script type="text/html" id="predicate-template">
        <!-- ko if: predType == "and" -->
        <div data-bind="template: {name:'and-predicate-template'}"></div>
        <!-- /ko -->

        <!-- ko if: predType == "or" -->
        <div data-bind="template: {name:'or-predicate-template'}"></div>
        <!-- /ko -->

        <!-- ko if: predType == "not" -->
        <div data-bind="template: {name:'not-predicate-template'}"></div>
        <!-- /ko -->

        <!-- ko if: (predType != "and" && predType != "or" && predType != "not") -->
        <div data-bind="template: {name:'single-predicate-template'}"></div>
        <!-- /ko -->
    </script>

    <script type="text/html" id="single-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" data-bind="click: remove"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <a class="btn btn-default disabled" role="button" data-bind="text: title">
                </a>
                <button type="button" 
                        class="btn btn-default" 
                        data-bind="click: function(){expanded(!expanded())}, 
                                    text: expanded() ? 'Collapse' : 'Expand'"></button>
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" required placeholder="type" data-bind="text: predType, value:predType">
                        <input type="number" class="form-control" placeholder="interval" data-bind="text: interval, value: interval">
                        <input type="text" class="form-control" placeholder="command" data-bind="text: command, value: command">
                        <input type="text" class="form-control" placeholder="path" data-bind="text: path, value: path">
                    </div>
                </form>
            </div>
        </div>
    </script>

    <script type="text/html" id="and-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <div data-bind="template: {name:'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="or-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
                </div>
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <div data-bind="template: {name:'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>

    <script type="text/html" id="not-predicate-template">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <!-- ko template: {name: 'add-predicate-template'} -->
                    <!-- /ko -->
            </div>
            <div class="panel-body" data-bind="visible: expanded">
                <div data-bind="template: {name:'predicate-template', foreach: predicates}"></div>
            </div>
        </div>
    </script>
</section>
