<section xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid">
        <div class="page-header" style="margin-top: 85px">
            <h1>Zoookeeper Tools</h1>
        </div>

        <span class="dropdown">
            <form>
                Old Path: <input type="text" class="form-control" placeholder="old path" data-toggle="dropdown"
                       data-bind="textInput: toolsModel.oldPath"
                       data-toggle="tooltip" data-placement="top" title="Old Path">
                <ul class="dropdown-menu" role="menu" data-bind="foreach: pathOptions()">
                    <li><a data-bind="text: $data, click: function(){ $parent.path($data) }"></a></li>
                </ul>
                New Path: <input type="text" class="form-control" placeholder="new path"
                       data-bind="textInput: toolsModel.newPath"
                       data-toggle="tooltip" data-placement="top" title="New Path">
                <input type="submit" data-bind="click: toolsModel.showPaths">
            </form>
        </span>
    </div>


</section>
