body{background-color: #F7F7F6;}

.login{padding-top: 65px;}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

table{width: 100%;}

.table tbody>tr>td.vert-align
{
    vertical-align: bottom;
}

.splash {
    text-align: center;
}

.splash .message {
    font-size: 5em;
    line-height: 1.5em;
    /*text-transform: uppercase;*/
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 5em;
    margin-top: 50px;
}

.navbar-nav li.loader {
    margin: 12px 6px 0 6px;
    visibility: hidden;
}

.navbar-nav li.loader.active {
    visibility: visible;
}

.caret-reversed {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-bottom: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

.caret-left {
    border-right: 4px solid;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}
 
input:required:invalid {
    background-color: #d9534f;
}

/* This is for form placeholders */
input:required:invalid::-webkit-input-placeholder {
    color: #fff;
}
*::-webkit-input-placeholder {
    font-size: 12px;
}

/*Overrides bootstrap to properly display modal
 * header with a background color
 */
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
