[web_server]
port=8889
debug=True

[active_directory]
host=SPOTDC01
port=389

[staging]
host=ZooStaging01:2181,ZooStaging02:2181,ZooStaging03:2181,ZooStaging04:2181,ZooStaging05:2181
read_write_groups=["CN=All,OU=Distribution Lists,OU=Exchange,OU=Chicago,OU=Production,OU=Spot Trading,DC=spottrading,DC=com"]
graphite_host=graphitestaging

[production]
host=ZooProduction01:2181,ZooProduction02:2181,ZooProduction03:2181,ZooProduction04:2181,ZooProduction05:2181
read_write_groups=["CN=IT All,CN=Users,DC=spottrading,DC=com"]
graphite_host=graphiteproduction

[zookeeper]
agent_configuration_path=/spot/software/config/agent/
task_path=/spot/software/task
agent_state_path=/spot/software/state/agent/
application_state_path=/spot/software/state/application
global_mode_path=/spot/software/config/global/mode
pillar_path=/spot/software/config/pillar

[database]
db_type = sql
sql_connection = DRIVER=FreeTDS;TDS_VERSION=8.0;SERVER=CHIDEVSQL01;PORT=1433;DATABASE=Zookeeper;UID=zookeeperuser;PWD=Zoo123

[loggers]
keys=root

[handlers]
keys=console,file

[formatters]
keys=console,file

[logger_root]
level=DEBUG
handlers=console,file

[handler_console]
class=StreamHandler
formatter=console
args=(sys.stdout,)

[handler_file]
class=handlers.TimedRotatingFileHandler
formatter=file
args=('logs/zoom.log', 'midnight')

[formatter_console]
format=%(levelname)-8s | %(message)s

[formatter_file]
format=%(asctime)s %(levelname)-8s [%(module)s:%(lineno)d] %(message)s
