<!DOCTYPE html>
<html lang="en" xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sentinel Log</title>
    <script type="text/javascript">
        function fnColorLine(line) {
            if (line.indexOf("WARNING") != -1) {
                return line.fontcolor("orange") + "<br>";
            }
            else if (line.indexOf("ERROR") != -1) {
                return line.fontcolor("red") + "<br>";
            }
            else {
                return line + "<br>";
            }
        }
    </script>
</head>
<body>
    <font face="Courier New">
    {% for d in data %}
        <script type="text/javascript">
            document.write(fnColorLine("{{ d }}"));
        </script>
    {% end %}
    </font>
</body>
</html>